*
{
    box-sizing:border-box;
	
	margin:0;
	padding:0;
	font-family:Century Gothic;
}


body
{
    background-image: url(006.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #efefef;
}

.contact-box
{
    width:500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
    position: absolute;
}

form
{
    margin: 35px;
}
.input-field
{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border : 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.textarea-field
{
    height: 150px;
    padding-top: 10px;
}

.btn
{
    border-radius: 20px;
    color:#fff;
    margin-top: 18px;
    background-color: #06921b;
    font-size: 20px;
    border:none;
    cursor: pointer;
}

ul
{
	float: center;
	list-style-type: none;
	margin-top: 25px;
    padding-bottom: 15;
}
ul li
{
	display: inline-block;
}
ul li a
{
	text-decoration: none;
	color: white;
	padding: 6px 25px;
	border: 1px solid ;
	transition: 0.3s;
}
ul li a:hover
{
	background-color: pink;
	color: black;
}
.logo img
{
	float: left;
    padding-right: 15px;
	width: 50px;
	height: auto;
}

.main
{
	max-width: 1400;
	margin: auto;
}